.listCard{
    background-image : url(./image/BG.jpg);
    background-size : cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.x{
    transition: .3s;
}
.x:hover{
    transform: translateY(-3px);
    color: rgb(37, 112, 87);
}

.playerCard{
    transition: .3s;
}

.playerCard:hover {
    transform: translateY(-5px);
}